<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
      <form [formGroup]="UserForm" (ngSubmit)="saveUserData()">
        <ion-row class="ion-align-items-center ion-padding">
          <ion-col size="12" class="ion-text-center">
            <img src="https://via.placeholder.com/150" alt="socoro">
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-padding">
          <ion-col size="12" class="ion-text-center">
            <ion-input formControlName="username" placeholder="Nome" clearInput></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-padding">
          <ion-col size="12" class="ion-text-center">
            <ion-input formControlName="email" placeholder="Email" clearInput></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-padding">
          <ion-col size="12" class="ion-text-center">
            <ion-label>Role</ion-label>
            <ion-radio-group formControlName="role">
              <ion-row class="ion-justify-content-center">
                <ion-col size="6">
                  <ion-item lines="none" class="ion-text-center">
                    <ion-label>Admin</ion-label>
                    <ion-radio slot="start" value="admin"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item lines="none" class="ion-text-center">
                    <ion-label>Professor</ion-label>
                    <ion-radio slot="start" value="teacher"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-padding">
          <ion-col size="12" class="ion-text-center">
            <ion-input formControlName="password" type="password" placeholder="Senha" clearInput></ion-input>
            <ion-button (click)="openChangePasswordPopover()">Alterar Senha</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center ion-padding">
          <ion-col size="12" class="ion-text-center">
            <ion-button type="submit" expand="block">Salvar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
