<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center">
    <ion-toolbar>
      <ion-title size="large">
        <h1>Selecione uma turma</h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="main-content">

    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col class="ion-margin" size="11">

        <ng-container>

          <ion-row>
            <ion-col size="3">
              <ion-select class="select" interface="popover" placeholder="Ensino" [(ngModel)]="ensinoSelected">
                <ion-select-option value="">Todos</ion-select-option>
                <ion-select-option value="Ensino Fundamental I">Ensino Fundamental I</ion-select-option>
                <ion-select-option value="Ensino Fundamental II">Ensino Fundamental II</ion-select-option>
                <ion-select-option value="Ensino Médio">Ensino Médio</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-button (click)="filtrarTurmas()">
                <ion-icon name="filter"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

        </ng-container>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-col size="10">
          <ion-grid>
            <ion-row wrap>
              <ion-col class="turma" size="12" size-md="6" size-lg="4" *ngFor="let turma of turmasFilter">
                <ion-card (click)="acessarTurma(turma.nome_turma)">
                  <ion-card-header>
                    <ion-card-title>{{ turma.nome_turma }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{ turma.ensino }}
                    -
                    {{turma.turno}}
                  </ion-card-content>
                  <ion-row class="ion-align-items-center ion-justify-content-end">
                    <ion-col size="auto">
                      <ion-icon class="ion-margin icon" name="caret-down-outline"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-col>
    </ion-row>
  </div>

</ion-content>