<ion-col size="12">
  <ion-row>
    <ion-col class="ion-text-center">
      <h2>{{ nomeTurma }}</h2> <!-- Título da turma -->
    </ion-col>
  </ion-row>
  <div></div>
  <form (ngSubmit)="submitForm()" #form="ngForm">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="formData.nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">usuario</ion-label>
      <ion-input type="text" name="usuario" [(ngModel)]="formData.username" required></ion-input>
    </ion-item>

    <!-- Mat-Autocomplete para Usuários -->
    <!-- <ion-item>
      <ion-label position="floating">Usuário</ion-label>
      <input matInput placeholder="Selecione o usuário" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-autocomplete>
    </ion-item> -->

    <!-- Mat-Autocomplete para Disciplinas -->

    <ion-item>
      <ion-icon name="school" slot="start"></ion-icon>
      <mat-form-field appearance="fill">
        <mat-label>Disciplina</mat-label>
        <input [(ngModel)]="aulaSelecionada.nome_disciplina" matInput placeholder="Selecione a disciplina" [formControl]="disciplinaCtrl" [matAutocomplete]="auto2">
    
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let disciplina of filteredDisciplinas | async" [value]="disciplina.nome_disciplina">
            {{disciplina.nome_disciplina}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ion-item>
    

    <!-- <ion-item>
      <input matInput placeholder="Selecione a disciplina" [formControl]="disciplinaCtrl" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let disciplina of filteredDisciplinas | async" [value]="disciplina">
          {{ disciplina.nome_disciplina }}
        </mat-option>
      </mat-autocomplete>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">Conteúdo</ion-label>
      <ion-textarea type="text" rows="4" name="conteudo" [(ngModel)]="formData.conteudo" required></ion-textarea>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="!form.valid">Submit</ion-button>
  </form>
</ion-col>