    <ion-col size="12">
      <ion-row>
        <ion-col class="ion-text-start ion-align-items-center">
          <ion-icon name="return-up-back" slot="start"></ion-icon>
          <h2 class="ion-text-center">{{ nomeTurma }}</h2>
        </ion-col>
      </ion-row>


      <form mode="md" (ngSubmit)="submitForm(FormData)" [formGroup]="FormData">

        <ion-list>
          <!-- Mat-Autocomplete para Usuários -->
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <mat-form-field style="opacity: 0.6;" appearance="fill">
              <mat-label>Professor</mat-label>
              <input matInput placeholder="Selecione o professor" formControlName="username" readonly>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let disciplina of filteredDisciplinas | async" [value]="disciplina">
                  {{ disciplina.username }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-item>

          <!-- Mat-Autocomplete para Disciplinas -->
          <ion-item>
            <ion-icon name="school" slot="start"></ion-icon>
            <mat-form-field appearance="fill">
              <mat-label>Disciplina</mat-label>
              <input [value]="aulaSelecionada.nome_disciplina" matInput placeholder="Selecione a disciplina"
                [formControl]="disciplinaCtrl" [matAutocomplete]="auto2">

              <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onDisciplinaSelected($event)"
                [displayWith]="displayFn">
                <mat-option *ngFor="let disciplina of filteredDisciplinas | async" [value]="disciplina">
                  {{ disciplina.nome_disciplina }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-item>

          <ion-item>
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-label position="floating">Conteúdo</ion-label>
            <ion-textarea type="text" rows="4" name="conteudo" formControlName="conteudo" required></ion-textarea>
          </ion-item>

        </ion-list>
        <ion-button type="submit"
          style="margin-bottom: 0; position: absolute; bottom: 0; left: 0; right: 0; margin-left: auto; margin-right: auto;"
          mode="ios" (click)="fecharModal()" expand="full">
          Editar
          <ion-icon name="create-outline" slot="end"></ion-icon>
        </ion-button>
      </form>
    </ion-col>
