
.EM, .EFI, .EFII {
  outline: 1px solid rgba(0, 0, 0, 0.103);
}


.EM:hover {
  cursor: pointer;
  box-shadow: 3px 3px 0 3px rgba(177, 3, 41, 0.664);
}

.EFI:hover {
  cursor: pointer;
  box-shadow: 3px 3px 0 3px rgba(243, 220, 13, 0.671);
}

.EFII:hover {
  cursor: pointer;
  box-shadow: 3px 3px 0 3px rgba(0, 110, 255, 0.644);
}

ion-accordion:hover {
  transition: 0.5s;
  transform: scale(0.98);
  animation: alternate 2s;
}

ion-card:hover {
  transition: 0.5s;
  transform: scale(0.98);
  animation: alternate 2s;
}

ion-item {
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.delete-icon {
  font-size: 1.8em;
  padding: 5px;
  border-radius: 30px;
  margin-right: 10px;
  color: red;
}

.delete-icon:hover {
  transition: 0.3s;
  background-color: red;
  opacity: 0.6;
  color: white;
}