<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon style="color: #fff;" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Gerenciar Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12" size-sm="6">
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">
          <ion-col (click)="acessarUsuario(usuario.id_usuario)" class="ion-align-items-center text" size="6">
            <ion-label class="data-label">{{ usuario.username }}</ion-label>
          </ion-col>
          <ion-col class="ion-align-items-center ion-text-end" size="6">
            <ion-label class="data-label">{{ usuario.role }}</ion-label>
          </ion-col>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col class="ion-text-center" size="12" size-sm="6">
      criar novo usuario
    </ion-col>
  </ion-row>
</ion-content>