<app-side-menu></app-side-menu>

<ion-content id="main-content">
  <ion-row>



    <ion-col class="column column-fixed"
      style="margin: -5px; border-right: 4px solid var(--ion-color-primary); background-color: #fff;"
      *ngIf="!exibirMenu" size="4">
      <!-- a -->


      <ion-header style="top: -5px;">
        <ion-toolbar color="primary" style="border-bottom: 1px solid #fff; position: absolute;">
          <ion-title>Class Notes</ion-title>
        </ion-toolbar>

        <ion-toolbar color="primary">
          <ion-row>
            <ion-col size="3">
              <ion-avatar style="width: 45px; height: 45px; margin: 5px;" *ngIf="usuario.username">
                <ion-img [src]="'https://ui-avatars.com/api/?name=' + gerarSVG(usuario.username)"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col style="margin: auto;" size="9">
              Bem vindo, {{username}}
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>

      <ion-list mode="md" lines="none">
        <ion-list-header mode="ios">
          <ion-label>Gerenciamento</ion-label>
        </ion-list-header>
        <ion-item routerLinkActive="menu-item-active" routerLink="inicio" class="ion-color-primary">
          <ion-label>Início</ion-label>
          <ion-icon name="home"></ion-icon>
        </ion-item>
        <ion-item routerLinkActive="menu-item-active" routerLink="turmas">
          <ion-label>Turmas</ion-label>
          <ion-icon name="people"></ion-icon>
        </ion-item>
        <ion-item routerLinkActive="menu-item-active" routerLink="disciplinas">
          <ion-label>Disciplinas</ion-label>
          <ion-icon name="book"></ion-icon>
        </ion-item>
        <ion-item routerLinkActive="menu-item-active" routerLink="usuarios">
          <ion-label>Usuários</ion-label>
          <ion-icon name="people-circle"></ion-icon>
        </ion-item>

        <ion-list-header mode="ios">
          <ion-label>Conta</ion-label>
        </ion-list-header>
        <!-- <ion-item routerLinkActive="menu-item-active" routerLink="my-account">
          <ion-label>Minha Conta</ion-label>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-item> -->
        <ion-item (click)="logout()" class="logout">
          <ion-label>Sair</ion-label>
          <ion-icon name="log-out"></ion-icon>
        </ion-item>
      </ion-list>


    </ion-col>
    <ion-col class="column column-scrollable">

      <router-outlet></router-outlet>

    </ion-col>


  </ion-row>
</ion-content>