ion-item {
  margin: 10px;
  border-radius: 8px;
  outline: 0px solid #196fc085;

}

ion-list-header {
  font-size: 18px;
}

.menu-item-active {
  transition: 0.5s;
  outline: 1px solid var(--ion-color-primary);
  color: #269bdf;
  font-weight: 50px;
  cursor: pointer;

  ion-icon,
  ion-label {
    transition: 0.3s;
    color: var(--ion-color-primary);
  }
}

.logout {
  color: #b10707ce;

  ion-icon,
  ion-label {
    transition: 0.3s;
    color: #b10707ce;
  }
}

.logout:hover {
  outline: 1px solid #b10707ce;
  color: #b10707ce;

  ion-icon,
  ion-label {
    transition: 0.3s;
    color: #b10707ce;
  }
}



#main-container{
  display: flex;
}

.column {
  flex: 1;
  height: 100vh; /* Altura total da tela */
  overflow-y: auto; /* Adiciona scroll se o conteúdo for maior do que a altura da tela */
}

.column-fixed {
  position: sticky; /* Define a posição fixa */
  top: 0; /* Mantém a coluna fixa no topo da tela */
  background-color: #f0f0f0; /* Cor de fundo opcional */
  width: 200px; /* Largura da coluna fixa */
}

.column-scrollable {
  background-color: #ffffff; /* Cor de fundo opcional */
}

.column::-webkit-scrollbar {
  width: 0; /* Oculta a barra de rolagem no Chrome/Safari */
}

.column-scrollable::-webkit-scrollbar {
  width: 0; /* Oculta a barra de rolagem no Chrome/Safari */
}


.toolbar{
  
}