<ion-content>
  <ion-row style="height: 100%; justify-content: center; align-items: center;">
    <ion-col size="12" class="ion-text-center">
      <form [formGroup]="form" (ngSubmit)="createUser(form)">

        <ion-list lines="none">
          <div style="display: flex; justify-content: center; align-items: center;">
            <ion-avatar style="width: 100px; height: 100px; margin-bottom: 10px;"
              *ngIf="form.get('username')?.value !== null">
              <ion-img [src]="'https://ui-avatars.com/api/?name=' + gerarSVG(form.get('username')?.value)"></ion-img>
            </ion-avatar>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Digite seu nome e sobrenome" formControlName="username">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="Digite seu e-mail" formControlName="email">
            </mat-form-field>
          </div>

          <div *ngIf="!changePassword">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Digite sua senha" type="password" [value]="password"
                [disabled]="!changePassword">
            </mat-form-field>
          </div>

          <div *ngIf="changePassword">
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Nova Senha</mat-label>
                <input matInput placeholder="Nova senha" type="password" formControlName="newPassword">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Confirmar Senha</mat-label>
                <input matInput placeholder="Confirmar senha" type="password" formControlName="confirmNewPassword">
              </mat-form-field>
            </div>
          </div>

          <div class="mudar-senha">
            <p *ngIf="!changePassword" (click)="toggleChangePassword()">Alterar Senha</p>
            <p *ngIf="changePassword" (click)="toggleChangePassword()">Cancelar</p>
          </div>

          <div>
            <ion-button type="submit" [disabled]="form.invalid">Enviar</ion-button>
          </div>
        </ion-list>

      </form>
    </ion-col>
  </ion-row>
</ion-content>