<ion-content style="height: 100%; justify-content: center; align-items: center;">
  <ion-row>
    <ion-col size="12" class="ion-text-center ion-align-items-center">
      <form [formGroup]="form" (ngSubmit)="UpdateUser(form)">

        <ion-list lines="none" style="margin-top: 3em;">
          <div style="display: flex; justify-content: center; align-items: center;">
            <ion-avatar style="width: 100px; height: 100px; margin-bottom: 10px;"
              *ngIf="form.get('username')?.value !== null">
              <ion-img [src]="'https://ui-avatars.com/api/?name=' + gerarSVG(form.get('username')?.value)"></ion-img>
            </ion-avatar>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Digite seu nome e sobrenome" formControlName="username">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="Digite seu e-mail" formControlName="email">
            </mat-form-field>
          </div>

          <div *ngIf="!changePassword">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Digite sua senha" type="password" [value]="password"
                [disabled]="!changePassword">
            </mat-form-field>
          </div>

          <div *ngIf="changePassword">
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Nova Senha</mat-label>
                <input matInput placeholder="Nova senha" type="password" formControlName="newPassword">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Confirmar Senha</mat-label>
                <input matInput placeholder="Confirmar senha" type="password" formControlName="confirmNewPassword">
              </mat-form-field>
            </div>
          </div>

          <div class="mudar-senha">
            <p *ngIf="!changePassword" (click)="toggleChangePassword()">Alterar Senha</p>
            <p *ngIf="changePassword" (click)="toggleChangePassword()">Cancelar</p>
          </div>

          <mat-radio-group formControlName="role" style="width: 60%; text-align: justify;"
            aria-label="Selecione uma opção">
            <mat-radio-button value="admin">Admin</mat-radio-button>
            <mat-radio-button value="teacher">Professor</mat-radio-button>
            <mat-radio-button value="monitor">Monitor</mat-radio-button>
          </mat-radio-group>

          <div>
            <ion-button type="submit" [disabled]="form.invalid">Enviar</ion-button>
          </div>
        </ion-list>

      </form>

      <ion-row style="position: absolute; top: 0%;">
        <ion-col (click)="back()" class="ion-margin ion-text-start voltar" style="opacity: 0.7; font-size: 1.2em;">
          <ion-icon name="return-up-back-outline"></ion-icon>
          Voltar
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>