<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <form [formGroup]="form" (ngSubmit)="changePassword()">
        <ion-row>
          <ion-col>
            <mat-form-field class="example-full-width">
              <mat-label>Nova Senha</mat-label>
              <input matInput placeholder="Nova senha" type="password" formControlName="newPassword">
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <mat-form-field class="example-full-width">
              <mat-label>Confirmar Senha</mat-label>
              <input matInput placeholder="Confirmar senha" type="password" formControlName="confirmNewPassword">
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <ion-button type="submit" expand="block" [disabled]="form.invalid">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>