<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon style="position: relative;" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{id_turma}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let aula of aulas">
      <ion-label>
        <h2>Aula {{aula.num_aula}}</h2>
        <p>Disciplina: {{aula.nome_disciplina}}</p>
        <p>Professor: {{aula.username}}</p>
        <p>Conteúdo: {{aula.conteudo}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>