<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon style="position: relative;" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{nome_turma}} - {{ensino}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div>
      <app-calendar class="ion-margin" (dataEvent)="receiveDataFromCalendar($event)"
        style="display: flex; justify-content: end;"></app-calendar>
    </div>
    <div *ngFor="let aula of aulas">
      <ion-item (click)="selectAula(aula.id_aula, aula.num_aula, nome_turma)" style="cursor: pointer;">

        <ion-label *ngIf="isLoaded">
          <ion-skeleton-text [animated]="true" style="width: 40px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 170px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 120px"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 200px"></ion-skeleton-text>
        </ion-label>

        <ion-label *ngIf="aula.id_aula != null && !isLoaded">
          <h2>Aula {{aula.num_aula}}</h2>
          <p>Disciplina: {{aula.nome_disciplina}}</p>
          <p>Professor: {{aula.username}}</p>
          <p>Conteúdo: {{aula.conteudo}}</p>
        </ion-label>

        <ion-label *ngIf="aula.id_aula == null && !isLoaded">
          <h2>Aula {{aula.num_aula}}</h2>
          <p>{{aula.nome_disciplina}}</p>
        </ion-label>

      </ion-item>
    </div>

  </ion-list>
</ion-content>