.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-col {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  outline: 1px solid #196fc059;
  opacity: 0.8;
}

// svg

#bubble1 {
  transform-origin: bottom;
  position: fixed;
  animation: moving 8s infinite alternate;
}

@keyframes moving {
  0% {
    transform: translate(65px, 40px);
  }

  100% {
    transform: translate(-65px, -180px);
  }
}

#bubble2 {
  transform-origin: bottom;
  position: fixed;
  animation: moving2 8s infinite alternate;
}

@keyframes moving2 {
  0% {
    transform: translate(150px, -130);
  }

  100% {
    transform: translate(-250px, -230px);
  }
}

#bubble3 {
  transform-origin: bottom;
  position: fixed;
  animation: moving3 8s infinite alternate;
}

@keyframes moving3 {
  0% {
    transform: translate(40px, -60px);
  }

  100% {
    transform: translate(130px, -260px);
  }
}

#bubble4 {
  transform-origin: bottom;
  position: fixed;
  animation: moving4 8s infinite alternate;
}

@keyframes moving4 {
  0% {
    transform: translate(-110px, -50px);
  }

  0% {
    transform: translate(30px, -120px);
  }

  100% {
    transform: translate(170px, -190px);
  }
}

#bubble5 {
  transform-origin: bottom;
  position: fixed;
  animation: moving5 8s infinite alternate;
}

@keyframes moving5 {
  0% {
    transform: translate(-10px, -150px);
  }

  100% {
    transform: translate(190px, 20px);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.8s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}