<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
  rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<ion-content mode="ios" class="ion-padding" [fullscreen]="true">
  <div class="center-content">


    <svg id="bubble1" width="316" height="316" viewBox="0 0 316 316" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="117" cy="117" r="117" fill="#1970C0" opacity="0.5" />
    </svg>

    <svg id="bubble2" width="234" height="234" viewBox="0 0 234 234" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="117" cy="117" r="117" fill="#1970C0" opacity="0.2" />
    </svg>

    <svg id="bubble3" width="187" height="187" viewBox="0 0 237 237" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="117" cy="117" r="117" fill="#1970C0" opacity="0.8" />
    </svg>

    <svg id="bubble4" width="234" height="234" viewBox="0 0 234 234" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="117" cy="117" r="117" fill="#1970C0" opacity="0.3" />
    </svg>

    <svg id="bubble5" width="234" height="234" viewBox="0 0 234 234" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="117" cy="117" r="117" fill="#1970C0" opacity="0.6" />
    </svg>

    <ion-grid class="ion-justify-content-center ion-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="8" size="12" class="ion-text-center">
          <img style="position: absolute;" src="../../../assets/img/logo-anglo-tatui.png" alt="Logo" width="70%"
            style="max-width: 225px;">
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="8" size-md="6" size="12" class="ion-text-center ion-padding form-col">
          <form [formGroup]="UserForm" #FormLogin="ngForm" (ngSubmit)="validarLogin(UserForm.value)">
            <ion-item lines="none">
              <ion-label style="color: #4D4D4D; opacity: 1;" position="floating">Usuário</ion-label>
              <ion-input formControlName="username" ngModel name="username" id="username" type="text"
                required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label style="color: #4D4D4D; opacity: 1;" position="floating">Senha</ion-label>
              <ion-input formControlName="password" ngModel name="password" id="password" type="password"
                required></ion-input>
            </ion-item>
            <ion-button style="font-family: Josefin Sans; font-weight: bold; opacity: 1;" expand="block" type="submit"
              fill="outline" class="ion-margin-top">Entrar</ion-button>
          </form>
          <ion-row>
            <ion-col class="ion-margin-top">
              <span>Esqueceu sua senha? </span><span routerLink="/forgot-password" style="cursor: pointer; color: #1970C0;">Clique aqui!</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-row class="footer">
          <ion-col size="8" class="ion-text-center">
            <p style="opacity: 0.5; font-size: 12px;">Desenvolvido pelo Departamento de Tecnologia e Marketing do Colégio Anglo Tatuí.</p>
          </ion-col>
        </ion-row>
      </ion-row>







    </ion-grid>
  </div>
</ion-content>